.aboutMe h2 {
    color: #ffffff;
}

.about-content {
    color: #ffffff !important;
}

@media screen and (max-width: 767px) {

    .about-content {
        text-align: center;
        font-size: 16px;
        line-height: 1.5;
        padding: 0 15px;
    }
}
